* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  overflow-x: hidden;
}

.scroll-area {
  height: 600vh;
}

canvas {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
}